:root {
  --primary-color: #17a2b8;
  --dark-color: #343a40;
  --light-color: #f4f4f4;
  --danger-color: #dc3545;
  --success-color: #28a745;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;  
}

body {
  font-family: 'Raleway', sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  background-color: #fff;
  color:white;
  background-color: rgba(0, 0, 0, 0.4);
  /*position: relative;*/
  width: 100%;
  height: 100%;
}


h1 {
  font-size: 40px;
  display: flex;
  flex-wrap: wrap;
}

.arrows {
  position: absolute;
  z-index: 2;
  font-size: 35px;
  margin: auto;
  text-align: center;
  color: white;
  top: 550px;
  width: 200px;
  height: 200px;
  display: inline-flex;
  position: relative;
  left: 600px;
}

.slide-arrow-prev {  
  margin-right: 70px;
}


.image-slide {
    width: 100%;
    position: absolute;
    top: -80px;
    left: 0px;
    height: 780px;
    padding: 0.7rem 2rem;
    z-index: 0;
}

.inset-text {
  font-family: 'Raleway', sans-serif;
  position: absolute;
  font-size: 20px;
  color: white;
  /*position: relative;*/
  left: 30px;
  top: 575px;
}

/*xy*/
@media screen and (max-width: 1200px) {  
  body .inset-text {
  top: 530px;
  }
  
  .arrows {
  font-size: 35px;
  top: 500px;
  left: 500px;
}

body .all-screenings {
    margin-top: 550px;
  }

}

@media screen and (max-width: 1100px) {  

  body .all-screenings {
    margin-top: 520px;
  }
}



@media screen and (max-width: 1000px) {  
  body .inset-text {
    font-size: 15px;
    top: 510px;
  }
  
  .arrows {
  font-size: 35px;
  top: 450px;
  left: 400px;
  }

  body .all-screenings {
    margin-top: 490px;
  }
}

@media screen and (max-width: 900px) {  
  body .inset-text {
    font-size: 14px;
    top: 500px;
  }
  
  .arrows {
  font-size: 30px;
  top: 450px;
  left: 340px;
  }

   body .all-screenings {
    margin-top: 440px;
  }

}

@media screen and (max-width: 770px) {  
  
 /*.navbar {
    float: none;
    width: 100%;
  }
 */ 
  body .inset-text {
  font-size: 15px;
  top: 440px;
  }

  .all-screenings {
  max-width: 770px;
  }

  .register, .login, .howitworks {
    display: none;
    }

  .how-loggedin, .films-tickets-link, .logout  {
    display: none;
  }

  .hamburgerDiv { 
    display: block;
    margin-top: 2px;
    }


  .hamburger { 
    width: 30px;
    height: 4px;
    background-color: white;
    margin: 5px 0;
    display: flex;
    }

  .dropdown {
    position: absolute;
    left: 0;
    top: 50px;
    float: none;
    display: inline-flex;
    text-align: left;
    background-color:#87CEFA;
    width: 100%;
    /*box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);*/
    z-index: 1;
    height: 45px;
  }
  
  .reg-dropdown, .films-dropdown {
  display: inline-flex;
  position: absolute;
  left: 20px;
  top: 40px;
  color: white;
  text-align: left;
  z-index: 2;
  }
  
  .log-dropdown {
  display: inline-flex;
  position: absolute;
  left: 140px;
  top: 40px;
  color: white;
  text-align: left;
  z-index: 2;
  }

  .how-dropdown {
  display: inline-flex;
  position: absolute;
  left: 230px;
  top: 40px;
  color: white;
  text-align: left;
  z-index: 2;  
  }

  .how-auth-dropdown {
  display: inline-flex;
  position: absolute;
  left: 105px;
  top: 72px;
  color: white;
  text-align: left;
  z-index: 2;  
  }

  .logout-dropdown {
  display: inline-flex;
  position: absolute;
  left: 320px;
  top: 40px;
  color: white;
  text-align: left;
  z-index: 2; 
  }

  h1 {
    font-size: 35px;
    flex-wrap: wrap;
  }

  .navbar {
    max-height: 60px;
  }

  .main-title-subdeck {
    display: none;
  }

  body .image-slide {
    top: -150px; 
  }
  
  .arrows {
    /*display: none;*/
/*    top: 2000px;*/
    right: 2000px; 
  }
 
  body .all-screenings {
    margin-top: 370px;
  }

}

@media screen and (max-width: 680px) {  
body .image-slide {
    top: -180px; 
  }
  
body .all-screenings {
    margin-top: 300px;
  }

body .inset-text {
  font-size: 15px;
  top: 410px;
}

body .hamburgerDiv {
    margin-top: 1px
  }
}

@media screen and (max-width: 542px) {  
 
  body .inset-text {
  font-size: 11px;
  top: 410px;
  }

  body .all-screenings {
    margin-top: 220px;
  }

 .hamburger {
    width: 30px;
    height: 4px;
    margin: 4px 0;    
  }

 .navbar-left {
    width: 80%;
  }

  .dropdown {
    top: 40px;
    height: 45px;
  }

  .reg-dropdown, .log-dropdown, .how-dropdown {
  font-size: 19px; 
  }

  .how-auth-dropdown, .logout-dropdown, .films-dropdown {
    font-size: 15px; 
  }

  .films-dropdown {
    left: 20px;
    top: 40px; 
  } 

  .logout-dropdown {
    left: 140px;
    top: 40px; 
  }

  .how-auth-dropdown {
    left: 138px;
    top: 64px; 
  }

  .reg-dropdown { 
  top: 40px;
  }
  
  .log-dropdown {
  top: 40px;
  left: 110px;
  }

  .how-dropdown {
  top: 40px;
  left: 170px;
  }

  h1 {
  font-size: 26px;
  line-height: 1.1;
  margin-top: 14px;
  }
  
  body .image-slide {
    top: -220px; 
  }
  /*.navbar {
    margin-top: -16px;
  }*/
}

@media screen and (max-width: 410px) {  
  body .inset-text {
  left: 18px;
  font-size: 9px;
  top: 400px;
}

  body .all-screenings {
  margin-top: 160px;
  }

 .navbar {
    max-height: 50px;
    width: 90%;
  }
  
  .main-title { 
  font-size: 30px;
}

 .navbar-left {
    width: 80%;
  }

  .hamburger {
    width: 26px;
    height: 3px;
    background-color: white;
    margin: 3px 0;    
  }

 h1 {
  font-size: 19px;
  line-height: 1.1;
  margin-top: 14px;
  }

  .dropdown {
    top: 40px;
    height: 30px;
  }

  .how-auth-dropdown, .logout-dropdown, .films-dropdown {
    font-size: 15px; 
  }

  body .films-dropdown {
    left: 18px;
    top: 30px; 
  } 

  .logout-dropdown {
    left: 160px;
    top: 30px; 
  }

  .how-auth-dropdown {
    display: none;
  }
  
  .reg-dropdown, .log-dropdown, .how-dropdown {
  font-size: 13px; 
  }
  
  .reg-dropdown { 
  top: 30px;
  }
  
  .log-dropdown {
  top: 30px;
  left: 80px;
  }

  .how-dropdown {
  top: 30px;
  left: 130px;
  }
  
  body .image-slide {
    top: -250px; 
  }

}

@media screen and (max-width: 324px) {  
body .inset-text {
  left: 16px;
  font-size: 8px;
  top: 400px;
}

body .hamburgerDiv {
    margin-top: 1px
  }

body .all-screenings {
  margin-top: 110px;
  }

body .all-screenings-title {
  font-size: 25px;
}

 .navbar {
    max-height: 50px;
  }

/*  body .main-title { 
  font-size: 25px;
}*/

  .dropdown {
    top: 40px;
  }

  .logout-dropdown {
    left: 140px;
    top: 30px; 
  }

 .navbar-left {
    width: 80%;
  }

 h1 {
  font-size: 15px;
  line-height: 1.1;
  margin-top: 16px;
  }
  body .image-slide {
    top: -270px; 
  }
}

@media screen and (max-width: 250px) {  
 body .inset-text {
  left: 14px;
  font-size: 8px;
  top: 390px;
}

.all-screenings {
  margin-top: 70px;
  }


 .navbar {
    max-height: 30px;
  }

 .navbar-left {
    width: 70%;
  }

 h1 {
  font-size: 14px;
  line-height: 1.1;
  margin-top: 16px;
  }
  body .image-slide {
    top: -300px; 
  }
}



/*ends media screens*/

.navbar {
  background-color:#87CEFA;
  display: inline;
  font-family: 'Marcellus SC', serif;
  height: 100px;
  padding: 0.7rem 2rem;
  position: fixed;
  top: 0; 
  width: 100%;
  border-bottom: solid 1px var(--primary-color);
  z-index: 3;
}

.navbar-left {
  display: block;
  float: left;
  margin-top: -60px;
}

.navbar-right {
  display: block;
  font-size: 24px;
  float: right;
}

.hamburgerDiv {
  margin-top: 5px;
  float: right;
}

.navbar a {
  color: #fff;
  padding: 0.45rem;
  margin: 0 0.25rem;
}

.navbar a:hover {
  color: var(--primary-color);
}

.main-title { 
  font-size: 30px;
}

.main-title-subdeck {
    font-size: 26px;
    margin-top: -60px;
  
  }

  .auth {
    display: inline-flex;
    margin-top: -30px;
  }

  .register {
  margin-right: -14px;
  }
  
  .howitworks {
   margin-top: 0px;
  }

  .films-tickets-link {
    margin-right: -14px;
  }

  .loggedin {
    font-size: 20px;
    margin-top: 3px;
  }

  .films-dropdown {
    left: 20px;
    top: 40px; 
  } 

  .logout-dropdown {
    margin-top: 0px;
  }

  .how-auth-dropdown {
    margin-top: -1.6em;
    margin-left: 4em;
  }

  .how-loggedin {
    margin-top: -1.6em;
    margin-left: 4em;
  }

  .logout {
  margin-top: 0px;
}

.landing {
  height: 100%;
  width: 100%;
}

.films-link {
  font-size: 22px;
}

.your-tickets {
  margin-top: 20px;
  display: flex;
  flex-wrap: wrap;
}

.your-films {
  display: block;
  display: flex;
  flex-wrap: wrap;
  padding-top: 50px;
  margin-left: -10px;
}

.your-film-header {
  margin-bottom: -20px;
  margin-top: 30px;
  margin-left: 5px; 
}
.singleTicket {
  margin-left: 8px;
}



.dark-overlay {
  /*background-color: rgba(0, 0, 0, 0.7);
  /*position: relative;*/
  /*top: 50px;
  left: 0;
  width: 100%;
  height: 1000px;
  margin-top: -100px;*/
  
}

/*.img {
  height: 100px;
  width: 100%;
}*/


.landing-page-titles {
  color: #fff;  
  margin: auto;
  display: flex;
  float: left;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.guide-link {
  position: fixed;
  margin-top: 35px;
}

ul {
  list-style: none;
}

.btn {
  display: inline-block;
  background: var(--light-color);
  color: #333;
  padding: 0.4rem 1.3rem;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  margin-left: 1.4rem;
  margin-top: 1.7rem;
  width: auto;
  /*margin-left: 20px;*/
  margin-right: 0.5rem;
  transition: opacity 0.2s ease-in;
  outline: none;
}

.no-account {
  font-size: 25px;
  margin-left: 1.3rem;
  margin-top: 1.7rem;
}

.reg {
  color: white;
}

img {
    width: 264px;
    object-fit: cover;
    max-height: 148px;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/*//from here*/

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.all-screenings {
width: 100%;
height: auto; 
position: relative;
/*top: 800px;*/
margin-top: 600px;
margin-left: auto;
margin-right: auto;
padding-right: 10px;
padding-left: 10px;
}

.all-screenings-title {
  position: relative;
  font-size: 30px;
  font-family: 'Raleway', sans-serif;
  width: 100%;
  top: -70px;
  left: 25px; 
  /*height: 100px;*/
  color: white;
}

.films-list {
    display: inline-flex;
    flex-wrap: wrap;
    height: auto;
    margin-top: -20px;
    margin-bottom: 200px;
    color: white;
    font-size: 20px;
    /*max-width: 100px;*/
    /*top: -350px;*/
    /*position: relative;*/
}

.film {
    height: auto;
    width: 320px;
    border: 5px solid gray;
    margin-left: 20px;
    margin-right: 10px;
    margin-bottom: 20px;
    padding: 23px;
}

.custom-button {
  min-width: 165px;
  width: auto;
  height: 50px;
  color: white;
  letter-spacing: 0.5px;
  line-height: 50px;
  padding: 0 35px 0 35px;
  font-size: 15px; 
  background-color: #87CEFA;
  
  text-transform: uppercase;
  font-family: 'Open Sans Condensed';
  font-weight: bolder;
  border: none;
  cursor: pointer;
  display: flex;
  justify-content: center;
  margin-top: 20px;

  &:hover {
    background-color: #ADD8E6;
    color: white;
    border: 1px solid black;
  }
}

.dashboard-display {
  margin-left: 30px;
  margin-top: 100px;
  font-size: 20px;
  color: white;
  margin-bottom: 50px;
}

.lead {
  margin-top: 50px;
  font-size: 25px;
  margin-left: 25px;
}

.form .form-group {
  margin-top: 30px;
  margin: 1.2rem 0;
  padding-left: 20px;
}

.form .form-text {
  display: block;
  margin-top: 0.5rem;
  color: #888;
}

.form input[type='text'],
.form input[type='number'],
.form input[type='email'],
.form input[type='password'],
.form input[type='date'],
.form input[type='time'],
.form select,
.form textarea {
  display: block;
  width: 95%;
  padding: 1rem;
  font-size: 1.2rem;
  border: 1px solid #ccc;
  margin-bottom: 10px;
  
}

.form-ticket {
  width: 50%;
  margin-top: 10px;
}

.form input[type='submit'],
button {
  font: inherit;
}

.form .social-input {
  display: flex;
}

.checkout-page {
  margin-left: 20px;
  font-size: 25px;
  margin-top: 100px;
}

.btn-back {
  margin-left: 0px;
}

/* On hover, add a black background color with a little bit see-through 
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
/*.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}
*/





