:root {
  --primary-color: #17a2b8;
  --dark-color: #343a40;
  --light-color: #f4f4f4;
  --danger-color: #dc3545;
  --success-color: #28a745;
}

* {
  box-sizing: border-box;
  /*margin: 0;*/
  padding: 0;
  /*width: 102vw;*/
  max-width: 102vw;  
}

body {
  font-family: 'Raleway', sans-serif;
  /*font-size: 5em;*/
  line-height: 1.6;
  background-color: #fff;
  color:white;
  background-color: rgba(0, 0, 0, 0.4);
  max-width: 97%;
  /*position: relative;*/
  /*width: 100%;*/
  height: 100%;
  -webkit-text-size-adjust: none;
  overflow-x: hidden;
}

a {
  color: #864747;
}

h1 {
  /*font-size: 1em;*/
  /*display: flex;
  flex-wrap: wrap;*/
}

/*.arrows {
  position: absolute;
  z-index: 2;
  font-size: 35px;
  margin: auto;
  text-align: center;
  color: white;
  top: 550px;
  width: 200px;
  height: 200px;
  display: inline-flex;
  position: relative;
  left: 600px;
}

.slide-arrow-prev {  
  margin-right: 70px;
}
*/

/*.image-slide {
    width: 100%;
    position: absolute;
    top: -80px;
    left: 0px;
    height: 780px;
    padding: 0.7rem 2rem;
    z-index: 0;
}
*/



/*.inset-text {
  font-family: 'Raleway', sans-serif;
  position: absolute;
  font-size: 2em;
  color: white;
  left: 30px;
  top: 575px;
}*/

/*xy*/

.welcome-message {
  font-size: 1.7em;
  margin-left: 15px;
  margin-bottom: 2vh; 
  font-family: 'Raleway', sans-serif;
}


/*//older media queires*/
@media screen and (max-width: 1200px) {  
  body .inset-text {
  top: 530px;
  }
  
  .hamburgerDiv {
  display: none;
  margin-top: -7vh;
  }

  .hamburgDiv-loggedin {
  display: none;
  }

  .dropdown {
    display: block;
  }
}



@media screen and (max-width: 1100px) {  

body .all-screenings {
    /*margin-top: 520px;*/
  }

  .top-row {
  display: none
  }

  .dropdown {
    display: inline-block;
    font-family: 'Raleway', sans-serif;
    font-size: 0.8em;
    position: absolute !important;
    background-color: white;
    width: 100%;
    left: 1vw;
    top: 6vh;
    margin-left: -1vw;
    margin-top: 0vh;
    /*box-shadow: 0px 8px 0px 0px #864747;*/
    z-index: 1;
    /*height: 5vh;*/
  }
  
  .hamburgerDiv {
  display: block;
  margin-top: -7vh;
  }

  .hamburgDiv-loggedin {
  display: block;
  }

}

@media screen and (max-width: 999px) {  
  
  body .inset-text {
    font-size: 15px;
    top: 510px;
  }
}

@media screen and (max-width: 900px) {  
  
  body .inset-text {
    font-size: 14px;
    top: 500px;
  }
  
  .arrows {
  font-size: 30px;
  top: 450px;
  left: 340px;
  }

   body .all-screenings {
    /*margin-top: 440px;*/
  }

  .reg-dropdown {
    margin-left: 0.5vw;
  }

}

@media screen and (max-width: 770px) {  
  
 /*.navbar {
    float: none;
    width: 100%;
  }
 */ 
  body .inset-text {
  font-size: 15px;
  top: 440px;
  }

  body h1 {
    /*font-size: 32px;*/
  }

  .all-screenings {
  /*max-width: 770px;*/
  }

  .register, .login, .howitworks {
    display: none;
  }

  .reg-dropdown {
    margin-left: 1vw;
  }

  .how-loggedin, .films-tickets-link, .logout  {
    display: none;
  }

  /**/
  body .image-slide {
    top: -150px; 
  }
  
  body .all-screenings {
    /*margin-top: 370px;*/
  }

}

@media screen and (max-width: 680px) {  
body .image-slide {
    top: -180px; 
  }
  
body .all-screenings {
    /*margin-top: 300px;*/
    }

body .inset-text {
  font-size: 15px;
  top: 410px;
  }

body .hamburger {
  display: block;
  }

body h1 {
  font-size: 2.3rem;
  }  
}

@media screen and (max-width: 562px) {  
 
  body .inset-text {
  font-size: 11px;
  top: 410px;
  }

  body .all-screenings {
    /*margin-top: 220px;*/
  }
 
  body .navbar {
    height: 3vh;
    margin-top: 30px;
  }

  body h1 {
  font-size: 0.85em;
  margin-top: -1.2vh;
  }

  .reg-dropdown {
  margin-left: 1vw;
  }

  .contacts-link {
  display: none;
}

  body .main-title-subdeck {
    display: none;
  }
  
  body .image-slide {
    top: -220px; 
  }

  body .hamburgerDiv {
    margin-top: -11vh;
  }

  .hamburgDiv-loggedin {
    margin-top: -7vh;
  }

  .hamburger { 
    width: 22px;
    height: 3px;
    margin: 3px;
    }

  .dropdown {
    top: 1vh;
  }

  .navbar {
    height: 50px;
  }

  .navbar-left {
    margin-top: -8vh;
  }

  .reg-dropdown, .log-dropdown, .how-dropdown, .buy-dropdown, .buytickets-dropdown  {
    font-size: 0.8em;
    margin-right: 0.1vw;
  }
}

@media screen and (max-width: 410px) {  
  body .inset-text {
  left: 18px;
  font-size: 9px;
  top: 400px;
}

  body .all-screenings {
  /*margin-top: 160px;*/
  }

 .navbar {
    max-height: 50px;
    width: 90%;
  }
  
  .main-title { 
  font-size: 28px;
  }

  .navbar-left {
    width: 95%;
  }

  body .hamburgerDiv { 
    margin-top: -10vh;
    margin-right: -3.5em;
    }

  body .hamburgDiv-loggedin {
    margin-top: -9.5vh;
    margin-left: 80vw;
  }


  body h1 {
  font-size: 0.7em;
  margin-top: -1.2vh;
  }

  .dropdown {
    top: 0vh;
    font-size: 0.6em;
/*    height: 3vh;*/
  }

/*  .how-auth-dropdown, .logout-dropdown, .films-dropdown {
    font-size: 15px; 
  }
*/
  body .films-dropdown {
    left: 18px;
    top: 30px; 
  } 

  .logout-dropdown {
    left: 160px;
    top: 30px; 
  }

  .how-auth-dropdown {
    display: none;
  }
  
  /*.reg-dropdown, .log-dropdown, .how-dropdown {
  font-size: 5px; 
  }
  */
  /*.reg-dropdown { 
  top: 30px;
  }*/
  
.log-dropdown {
    margin-left: -1.4em;
}
 
 /* .how-dropdown {
  top: 30px;
  left: 130px;
  }*/
  
  body .image-slide {
    top: -250px; 
  }

}

@media screen and (max-width: 362px) {  
body .inset-text {
  left: 16px;
  top: 400px;
}

.reg-dropdown {
    margin-right: -3vw;
}

.log-dropdown, .buy-dropdown, .how-dropdown, .buytickets-dropdown {
    margin-right: -5vw;
}

body .all-screenings {
  /*margin-top: 110px;*/
  }

/*body .all-screenings-title {
  font-size: 25px;
}*/

.navbar {
    height: 2vh;
  }

.logout-dropdown {
    left: 140px;
    top: 30px; 
  }

.navbar-left {
    width: 90%;
  }
.navbar-right {
    width: 10%;
  }

body h1 {
  font-size: 0.6em;
  margin-top: -1vh;;
  }
  
body .image-slide {
    top: -270px; 
  }

body .hamburgerDiv {
    margin-top: -10vh;
    margin-right: -3em;
  }

body .hamburgDiv-loggedin {
    margin-top: -9.5vh;
    margin-left: 80vw;
}

.hamburger { 
    width: 22px;
    height: 3px;
    margin: 3px;
  }

.dropdown {
    margin-right: 0vw;
  }

}

@media screen and (max-width: 335px) {  
body .inset-text {
  left: 16px;
  font-size: 8px;
  top: 400px;
}

/*body .hamburgerDiv {
    margin-top: 1px
  }*/

body .all-screenings {
  /*margin-top: 110px;*/
  }

body .all-screenings-title {
  /*font-size: 25px;*/
}

 .navbar {
    height: 2vh;
  }

  .logout-dropdown {
    left: 140px;
    top: 30px; 
  }

 .navbar-left {
    width: 90%;
  }

  .navbar-right {
    width: 10%;
  }

  .main-title {
    margin-top: 2vh;  
  }

 body h1 {
  font-size: 0.5em;  
  }
  .dropdown {
    font-size: 0.6em;
  }

  .hamburgDiv-loggedin {
    margin-top: -8.7vh;
    margin-left: 12vw;
  }

}

@media screen and (max-width: 290px) {  
 body .inset-text {
  left: 14px;
  /*font-size: 8px;*/
  top: 390px;
}

.all-screenings {
  /*margin-top: 70px;*/
  }


 .navbar {
    max-height: 30px;
  }

 .navbar-left {
    width: 90%;
  }

  .navbar-right {
    width: 10%;
  }

 h1 {
  font-size: 0.45em;
  line-height: 1.1;
  margin-top: 16px;
  }
  
  body .image-slide {
    top: -300px; 
  }

  body .hamburgerDiv {
    margin-top: -12vh;
    margin-right: -2.5em;
  }
}

@media screen and (max-width: 290px) {  
.navbar-left {
    width: 100%;  
  }
}


/*ends media screens*/


.landing {
  height: 100%;
  width: 100%;
}

.films-link {
  font-size: 22px;
}



/*.img {
  height: 100px;
  width: 100%;
}*/


.landing-page-titles {
  color: #fff;  
  margin: auto;
  display: flex;
  float: left;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.guide-link {
  position: fixed;
  margin-top: 35px;
}

ul {
  list-style: none;
}

.btn {
  display: inline-block;
  background: var(--light-color);
  color: #333;
  padding: 0.4rem 1.3rem;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  margin-left: 1.4rem;
  margin-top: 1.7rem;
  width: auto;
  margin-right: 0.5rem;
  transition: opacity 0.2s ease-in;
  outline: none;
}

.no-account {
  font-size: 25px;
  margin-left: 1.3rem;
  margin-top: 1.7rem;
}

.reg {
  color: white;
}

img {
    width: 264px;
    object-fit: cover;
    max-height: 148px;
}

.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/*//from here*/

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.dark-overlay {
/*  background-color: rgba(0, 0, 0, 0.7);
  position: relative;
  top: 50px;
  left: 0;
  width: 100%;
  height: 1000px;
  margin-top: -100px;
*/  
}

.dashboard-display {  
  display: inline-flex;
  flex-wrap: wrap;
  margin-top: -2vh;
}

.create-film-title {
  margin-left: 2vw;
}

/* On hover, add a black background color with a little bit see-through 
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4}
  to {opacity: 1}
}







/*newer mediascreens*/
@media (min-width:320px)  { /* smartphones, iPhone, portrait 480x320 phones */ 
  /*body .film {
    width: 9em;
    margin-left: 0.5vw;
    margin-right: 0.5vw;
    padding: 1vw;
  }*/


}
@media (min-width:481px)  { /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */ 
  /*body .film {
    width: 12em;
    margin-left: 0.5vw;
    margin-right: 0.5vw;
    padding: 1vw;
  }*/


}
@media (min-width:641px)  { /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */ 
  /*body .film {
    width: 15em;
    margin-left: 0.5vw;
    margin-right: 0.5vw;
    padding: 2vw;
  }*/
  /*body .all-screenings-title {
    margin-left: 3vh;
  }*/

}

@media (min-width:961px)  { /* tablet, landscape iPad, lo-res laptops ands desktops */ 
  
/*  body .film {
    width: 14em;
    margin-left: 0.5vw;
    margin-right: 0.5vw;
    padding: 1vw;
}
*/
  /*body .all-screenings-title {
    margin-left: 3vh;
  }*/



}

@media (min-width:1025px) { /* big landscape tablets, laptops, and desktops */ 
  /*body .film {
    width: 14em;
    margin-left: 0.3vw;
    margin-right: 0.3vw;
    padding: 1vw;
  }
*/

  /*body .all-screenings-title {
    margin-left: 0vh;
  }*/
}

@media (min-width:1281px) { 
 /* body .all-screenings-title {
  color: #864747;
}
*/
  /* hi-res laptops and desktops */ 
}