.img-slide {
	width: 100%;
    max-height: 500px; 
}

.carousel {
	font-family: 'Raleway', sans-serif;
	font-weight: bold;
	width: 100%;
	/*left: 19vw;*/
    margin-left: 0.5vw;
    /*margin-right: -20vw;*/
}